
<%= react_component('Header',products: @products,prod_path: products_path,cart_path: cart_path(:id)) %>
  <div class="jumbotron" style="margin:20px">
    <p>Welcome to VR Cardboard Store. We sell premium quality VR Cardboard headsets.</p>
  </div>
